<a href="https://colab.research.google.com/github/favasmfsm/hackerank_human_rights_challenge/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [192]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [193]:
train=pd.read_csv('train.csv')
test= pd.read_csv('test.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,17,18,19,20,22,23,24,25,26,27,28,45,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14,15,16,17,18,19,20,22,23,24,25,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [194]:
#train.head()

In [195]:
train= train[train['importance'].notna()]

In [196]:
print(train.shape)
print(test.shape)

(8878, 328)
(4760, 327)

In [197]:
train=train.drop(['application','decisiondate'],axis=1 )
test=test.drop(['application','decisiondate'],axis=1 )

In [198]:
#print(train.isnull().sum())

In [199]:
for col in train.columns:
  if(train[col].isnull().sum()>6000):
    #print(col)
    test=test.drop([col],axis=1)
    train=train.drop([col],axis=1)

In [200]:
train=train.drop(['parties.1','sharepointid','ecli','originatingbody_type', 'languageisocode','originatingbody_name','itemid','kpdate','parties.0','docname','country.alpha2','respondent.0','judgementdate'], axis=1)

In [201]:
test=test.drop(['parties.1','sharepointid','ecli','originatingbody_type', 'languageisocode','originatingbody_name','itemid','kpdate','parties.0','docname','country.alpha2','respondent.0','judgementdate'], axis=1)

In [202]:
print(train.shape)
print(test.shape)

(8878, 280)
(4760, 279)

In [203]:
train.shape

(8878, 280)

In [204]:
# for col in train.columns:
#   if(train[col].dtypes!=int):
#     print(col, train[col].dtypes, train[col].isnull().sum(), train[col].nunique())

In [205]:
for col in train.columns:
  if(train[col].isnull().sum()==0):
    if(train[col].nunique()==1):
      train=train.drop([col],axis=1)
      test=test.drop([col],axis=1)

In [206]:
# for col in train.columns:
#     if(train[col].nunique()==1):
#       print(col)

In [207]:
# for col in test.columns:
#       print(col,test[col].isnull().sum())

In [208]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
le=LabelEncoder()
train['doctypebranch']=le.fit_transform(train['doctypebranch'])
train['separateopinion']=le.fit_transform(train['separateopinion'])
train['country.name']=le.fit_transform(train['country.name'])
test['doctypebranch']=le.fit_transform(test['doctypebranch'])
test['separateopinion']=le.fit_transform(test['separateopinion'])
test['country.name']=le.fit_transform(test['country.name'])

In [209]:
train.head()

      appno  country.name  ...  ccl_article=p7  importance
0   2052/08            35  ...               0           4
1   4728/07            43  ...               0           4
2  44135/06            39  ...               0           4
3   2607/08            42  ...               0           4
4  27001/06            35  ...               0           4

[5 rows x 260 columns]

In [210]:
ohe=OneHotEncoder(handle_unknown='ignore')
ohe_doctypebranch_df=pd.DataFrame(ohe.fit_transform(train[['doctypebranch']]).toarray())
train = train.join(ohe_doctypebranch_df,rsuffix='doctypebranch:')
ohe_separateopinion_df=pd.DataFrame(ohe.fit_transform(train[['separateopinion']]).toarray())
train = train.join(ohe_separateopinion_df,rsuffix='separateopinion:')
# ohe_countryname_df=pd.DataFrame(ohe.fit_transform(train[['country.name']]).toarray())
# train = train.join(ohe_countryname_df,rsuffix='country.name:')
ohe_doctypebranch_df=pd.DataFrame(ohe.fit_transform(train[['doctypebranch']]).toarray())
test = test.join(ohe_doctypebranch_df,rsuffix='doctypebranch:')
ohe_separateopinion_df=pd.DataFrame(ohe.fit_transform(train[['separateopinion']]).toarray())
test = test.join(ohe_separateopinion_df,rsuffix='separateopinion:')
# ohe_countryname_df=pd.DataFrame(ohe.fit_transform(train[['country.name']]).toarray())
# test = test.join(ohe_countryname_df,rsuffix='country.name:')

In [211]:
print(train.shape)
print(test.shape)

(8878, 265)
(4760, 264)

In [212]:
for col in train.columns:
  if(train[col].dtypes!=int):
    print(col, train[col].dtypes, train[col].isnull().sum(), train[col].nunique())

appno object 0 8799
rank float64 0 5026
0 float64 0 2
1 float64 0 2
2 float64 0 2
0separateopinion: float64 0 2
1separateopinion: float64 0 2

In [213]:
train=train.drop(['doctypebranch','separateopinion','country.name'],axis=1)
test=test.drop(['doctypebranch','separateopinion','country.name'],axis=1)

In [214]:
print(train.shape)
print(test.shape)

(8878, 262)
(4760, 261)

In [215]:
X=train.drop(['importance'],axis=1)
y=train['importance']

In [216]:
X.shape
test.shape

(4760, 261)

In [217]:
train.head()

      appno  originatingbody  ...  0separateopinion:  1separateopinion:
0   2052/08                4  ...                1.0                0.0
1   4728/07               26  ...                1.0                0.0
2  44135/06               23  ...                0.0                1.0
3   2607/08                5  ...                0.0                1.0
4  27001/06                4  ...                1.0                0.0

[5 rows x 262 columns]

In [218]:
X = X.iloc[:, 1:].values
test_X=test.iloc[:, 1:].values
y = y.iloc[:].values

In [219]:
print(test_X[0].size,X[0].size)

260 260

In [220]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)
print(X_train[0].size)
print(X_test)
print(y_train)
print(y_test)
print(test_X[0].size)

260
[[4.00000000e+00 4.75531006e+02 2.30000000e+01 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [8.00000000e+00 3.63540527e+02 1.90000000e+01 ... 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [2.60000000e+01 2.40632812e+03 4.70000000e+01 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 ...
 [5.00000000e+00 5.30206177e+02 4.70000000e+01 ... 0.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [8.00000000e+00 4.25935150e+02 1.60000000e+01 ... 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [7.00000000e+00 7.80927673e+02 1.00000000e+00 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]]
[3 4 4 ... 4 4 4]
[4 3 4 ... 4 1 4]
260

In [221]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X[:, :] = sc.fit_transform(X[:,:])
test_X[:,:]=sc.transform(test_X[:,:])

In [222]:
from xgboost import XGBClassifier
classifier = XGBClassifier(max_depth=6, learning_rate=0.1, n_estimators=500)
classifier.fit(X,y)
# from sklearn.ensemble import RandomForestClassifier
# classifier = RandomForestClassifier(n_estimators = 5000, criterion = 'entropy', random_state = 0)
# classifier.fit(X, y)
# test_y=classifier.predict(test_X)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = [{"learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ] }]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search.fit(X, y)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

In [ ]:
# from sklearn.svm import SVC
# classifier = SVC(kernel = 'rbf', random_state = 0, degree=20)
# classifier.fit(X, y)

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# classifier = RandomForestClassifier(n_estimators = 5000, criterion = 'entropy', random_state = 1)
# classifier.fit(X, y)

In [ ]:
# from sklearn.metrics import confusion_matrix, accuracy_score
# y_pred = classifier.predict(X_test)
# cm = confusion_matrix(y_test, y_pred)
# print(cm)
# accuracy_score(y_test, y_pred)

In [ ]:
# from sklearn.tree import DecisionTreeClassifier
# classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0, min_samples_split=1024, min_samples_leaf=1)
# classifier.fit(X, y)

In [ ]:
# from sklearn.neighbors import KNeighborsClassifier
# classifier = KNeighborsClassifier(n_neighbors = 4, metric = 'minkowski', p = 2,leaf_size=300)
# classifier.fit(X, y)

In [ ]:
test_y=classifier.predict(test_X)

In [ ]:
print(test_y)

In [ ]:
# test_y=classifier.predict(test_X)

In [ ]:
submission = pd.DataFrame(columns=["appno","importance"])
submission["appno"] = test.appno
submission["importance"] = test_y
submission.to_csv("submission.csv", index=False)

In [ ]:
pd.DataFrame(test_y).to_excel('output.xlsx', header=True, index=False)

In [ ]:
# from sklearn.model_selection import cross_val_score
# accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
# print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
# print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))