<a href="https://colab.research.google.com/github/favasmfsm/hackerank_human_rights_challenge/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv')
test= pd.read_csv('test.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,17,18,19,20,22,23,24,25,26,27,28,45,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14,15,16,17,18,19,20,22,23,24,25,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#train.head()

In [4]:
train= train[train['importance'].notna()]

In [5]:
print(train.shape)
print(test.shape)

(8878, 328)
(4760, 327)

In [6]:
train=train.drop(['application','decisiondate'],axis=1 )
test=test.drop(['application','decisiondate'],axis=1 )

In [7]:
#print(train.isnull().sum())

In [8]:
for col in train.columns:
  if(train[col].isnull().sum()>6000):
    #print(col)
    test=test.drop([col],axis=1)
    train=train.drop([col],axis=1)

In [9]:
train=train.drop(['parties.1','sharepointid','ecli','originatingbody_type', 'languageisocode','originatingbody_name','itemid','kpdate','parties.0','docname','country.alpha2','respondent.0','judgementdate'], axis=1)

In [10]:
test=test.drop(['parties.1','sharepointid','ecli','originatingbody_type', 'languageisocode','originatingbody_name','itemid','kpdate','parties.0','docname','country.alpha2','respondent.0','judgementdate'], axis=1)

In [11]:
print(train.shape)
print(test.shape)

(8878, 280)
(4760, 279)

In [12]:
train.shape

(8878, 280)

In [13]:
# for col in train.columns:
#   if(train[col].dtypes!=int):
#     print(col, train[col].dtypes, train[col].isnull().sum(), train[col].nunique())

In [14]:
for col in train.columns:
  if(train[col].isnull().sum()==0):
    if(train[col].nunique()==1):
      train=train.drop([col],axis=1)
      test=test.drop([col],axis=1)

In [15]:
# for col in train.columns:
#     if(train[col].nunique()==1):
#       print(col)

In [16]:
# for col in test.columns:
#       print(col,test[col].isnull().sum())

In [17]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
le=LabelEncoder()
train['doctypebranch']=le.fit_transform(train['doctypebranch'])
train['separateopinion']=le.fit_transform(train['separateopinion'])
train['country.name']=le.fit_transform(train['country.name'])
test['doctypebranch']=le.fit_transform(test['doctypebranch'])
test['separateopinion']=le.fit_transform(test['separateopinion'])
test['country.name']=le.fit_transform(test['country.name'])

In [18]:
train.head()

      appno  country.name  ...  ccl_article=p7  importance
0   2052/08            35  ...               0           4
1   4728/07            43  ...               0           4
2  44135/06            39  ...               0           4
3   2607/08            42  ...               0           4
4  27001/06            35  ...               0           4

[5 rows x 260 columns]

In [19]:
ohe=OneHotEncoder(handle_unknown='ignore')
ohe_doctypebranch_df=pd.DataFrame(ohe.fit_transform(train[['doctypebranch']]).toarray())
train = train.join(ohe_doctypebranch_df,rsuffix='doctypebranch:')
ohe_separateopinion_df=pd.DataFrame(ohe.fit_transform(train[['separateopinion']]).toarray())
train = train.join(ohe_separateopinion_df,rsuffix='separateopinion:')
ohe_countryname_df=pd.DataFrame(ohe.fit_transform(train[['country.name']]).toarray())
train = train.join(ohe_countryname_df,rsuffix='country.name:')
ohe_doctypebranch_df=pd.DataFrame(ohe.fit_transform(train[['doctypebranch']]).toarray())
test = test.join(ohe_doctypebranch_df,rsuffix='doctypebranch:')
ohe_separateopinion_df=pd.DataFrame(ohe.fit_transform(train[['separateopinion']]).toarray())
test = test.join(ohe_separateopinion_df,rsuffix='separateopinion:')
ohe_countryname_df=pd.DataFrame(ohe.fit_transform(train[['country.name']]).toarray())
test = test.join(ohe_countryname_df,rsuffix='country.name:')

In [20]:
print(train.shape)
print(test.shape)

(8878, 311)
(4760, 310)

In [21]:
for col in train.columns:
  if(train[col].dtypes!=int):
    print(col, train[col].dtypes, train[col].isnull().sum(), train[col].nunique())

appno object 0 8799
rank float64 0 5026
0 float64 0 2
1 float64 0 2
2 float64 0 2
0separateopinion: float64 0 2
1separateopinion: float64 0 2
0 float64 0 2
1 float64 0 2
2country.name: float64 0 2
3 float64 0 2
4 float64 0 2
5 float64 0 2
6 float64 0 2
7 float64 0 2
8 float64 0 2
9 float64 0 2
10 float64 0 2
11 float64 0 2
12 float64 0 2
13 float64 0 2
14 float64 0 2
15 float64 0 2
16 float64 0 2
17 float64 0 2
18 float64 0 2
19 float64 0 2
20 float64 0 2
21 float64 0 2
22 float64 0 2
23 float64 0 2
24 float64 0 2
25 float64 0 2
26 float64 0 2
27 float64 0 2
28 float64 0 2
29 float64 0 2
30 float64 0 2
31 float64 0 2
32 float64 0 2
33 float64 0 2
34 float64 0 2
35 float64 0 2
36 float64 0 2
37 float64 0 2
38 float64 0 2
39 float64 0 2
40 float64 0 2
41 float64 0 2
42 float64 0 2
43 float64 0 2
44 float64 0 2
45 float64 0 2

In [22]:
train=train.drop(['doctypebranch','separateopinion','country.name'],axis=1)
test=test.drop(['doctypebranch','separateopinion','country.name'],axis=1)

In [23]:
print(train.shape)
print(test.shape)

(8878, 308)
(4760, 307)

In [24]:
X=train.drop(['importance'],axis=1)
y=train['importance']

In [25]:
X.shape
test.shape

(4760, 307)

In [26]:
train.head()

      appno  originatingbody         rank  ...   43   44   45
0   2052/08                4   685.417419  ...  0.0  0.0  0.0
1   4728/07               26  2641.901855  ...  1.0  0.0  0.0
2  44135/06               23   942.213440  ...  0.0  0.0  0.0
3   2607/08                5  1121.770142  ...  0.0  0.0  0.0
4  27001/06                4   704.821594  ...  0.0  0.0  0.0

[5 rows x 308 columns]

In [27]:
X = X.iloc[:, 1:].values
test_X=test.iloc[:, 1:].values
y = y.iloc[:].values

In [28]:
print(test_X[0].size,X[0].size)

306 306

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)
print(X_train[0].size)
print(X_test)
print(y_train)
print(y_test)
print(test_X[0].size)

306
[[4.00000000e+00 4.75531006e+02 2.30000000e+01 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.00000000e+00 3.63540527e+02 1.90000000e+01 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.60000000e+01 2.40632812e+03 4.70000000e+01 ... 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [5.00000000e+00 5.30206177e+02 4.70000000e+01 ... 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.00000000e+00 4.25935150e+02 1.60000000e+01 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [7.00000000e+00 7.80927673e+02 1.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]
[3 4 4 ... 4 4 4]
[4 3 4 ... 4 1 4]
306

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X[:, :] = sc.fit_transform(X[:,:])
test_X[:,:]=sc.transform(test_X[:,:])

In [ ]:
from xgboost import XGBClassifier
classifier = XGBClassifier(max_depth=25, learning_rate=0.05, n_estimators=2500)
classifier.fit(X,y)
# from sklearn.ensemble import RandomForestClassifier
# classifier = RandomForestClassifier(n_estimators = 5000, criterion = 'entropy', random_state = 0)
# classifier.fit(X, y)
# test_y=classifier.predict(test_X)

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# classifier = RandomForestClassifier(n_estimators = 5000, criterion = 'entropy', random_state = 0)
# classifier.fit(X, y)

In [ ]:
# from sklearn.metrics import confusion_matrix, accuracy_score
# y_pred = classifier.predict(X_test)
# cm = confusion_matrix(y_test, y_pred)
# print(cm)
# accuracy_score(y_test, y_pred)

In [ ]:
test_y=classifier.predict(test_X)

In [ ]:
print(test_y)

In [ ]:
# test_y=classifier.predict(test_X)

In [ ]:
pd.DataFrame(test_y).to_excel('output.xlsx', header=True, index=False)

In [ ]:
# from sklearn.model_selection import cross_val_score
# accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
# print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
# print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))