<a href="https://colab.research.google.com/github/favasmfsm/hackerank_human_rights_challenge/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [268]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [269]:
train=pd.read_csv('train.csv')
test= pd.read_csv('test.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,17,18,19,20,22,23,24,25,26,27,28,45,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14,15,16,17,18,19,20,22,23,24,25,49,50,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [270]:
train.head()

      appno application  ... ccl_article=p7 importance
0   2052/08     MS WORD  ...              0          4
1   4728/07     MS WORD  ...              0          4
2  44135/06     MS WORD  ...              0          4
3   2607/08     MS WORD  ...              0          4
4  27001/06     MS WORD  ...              0          4

[5 rows x 328 columns]

In [271]:
train= train[train['importance'].notna()]

In [272]:
train.shape

(8878, 328)

In [273]:
train=train.drop(['application','decisiondate'],axis=1 )

In [274]:
print(train.isnull().sum())

appno              0
country.alpha2     0
country.name       0
docname            0
doctypebranch      0
                  ..
ccl_article=p12    0
ccl_article=p4     0
ccl_article=p6     0
ccl_article=p7     0
importance         0
Length: 326, dtype: int64

In [275]:
for col in train.columns:
  if(train[col].isnull().sum()>6000):
    train=train.drop([col],axis=1)
train=train.drop(['parties.1','sharepointid','ecli','originatingbody_type', 'languageisocode','originatingbody_name','itemid','kpdate','parties.0','docname','country.alpha2','respondent.0','judgementdate'], axis=1)

In [276]:
train.shape

(8878, 280)

In [277]:
for col in train.columns:
  if(train[col].dtypes!=int):
    print(col, train[col].dtypes, train[col].isnull().sum(), train[col].nunique())

appno object 0 8799
country.name object 0 46
doctypebranch object 0 3
rank float64 0 5026
separateopinion bool 0 2

In [278]:
for col in train.columns:
  if(train[col].isnull().sum()==0):
    if(train[col].nunique()==1):
      train=train.drop([col],axis=1)

In [279]:
for col in train.columns:
    if(train[col].nunique()==1):
      print(col)

In [280]:
for col in train.columns:
      print(col,train[col].nunique())

appno 8799
country.name 46
doctypebranch 3
originatingbody 13
rank 5026
respondentOrderEng 46
separateopinion 2
typedescription 5
article=3 2
article=6 2
article=P1 2
article=5 2
article=8 2
article=13 2
article=10 2
article=2 2
article=34 2
article=41 2
article=38 2
article=35 2
article=4 2
article=29 2
article=14 2
article=P12 2
article=9 2
article=1 2
article=11 2
article=46 2
article=P4 2
article=17 2
article=18 2
article=7 2
article= 2
article=37 2
article=P7 2
article=57 2
article=26 2
article=27 2
article=36 2
article=30 2
article=12 2
article=56 2
article=39 2
article=15 2
article=25 2
article=P6 2
article=19 2
article=32 2
article=33 2
article=53 2
article=28 2
article=43 2
article=52 2
article=P13 2
article=16 2
documentcollectionid=CHAMBER 2
documentcollectionid=COMMITTEE 2
documentcollectionid=GRANDCHAMBER 2
applicability= 2
applicability=36 2
applicability=43 2
applicability=41 2
applicability=55 2
applicability=3 2
applicability=22 2
applicability=60 2
applicability=58 2
applicability=25 2
applicability=47 2
applicability=12 2
applicability=38 2
applicability=20 2
applicability=18 2
applicability=24 2
applicability=62 2
applicability=21 2
applicability=23 2
applicability=8 2
applicability=26 2
applicability=53 2
applicability=15 2
applicability=48 2
applicability=14 2
applicability=13 2
applicability=5 2
applicability=50 2
applicability=52 2
applicability=6 2
applicability=81 2
applicability=66 2
applicability=49 2
applicability=33 2
applicability=63 2
applicability=68 2
applicability=46 2
applicability=17 2
applicability=32 2
applicability=72 2
applicability=35 2
applicability=54 2
applicability=16 2
applicability=57 2
applicability=56 2
applicability=2 2
applicability=67 2
applicability=71 2
applicability=59 2
paragraphs=3 2
paragraphs=6 2
paragraphs=6-1 2
paragraphs=6-3-c 2
paragraphs=P1-3 2
paragraphs=5 2
paragraphs=5-1 2
paragraphs=P1-1 2
paragraphs=8 2
paragraphs=8-1 2
paragraphs=13 2
paragraphs=10 2
paragraphs=10-2 2
paragraphs=10-1 2
paragraphs=35-1 2
paragraphs=2 2
paragraphs=2-1 2
paragraphs=34 2
paragraphs=41 2
paragraphs=38 2
paragraphs=35 2
paragraphs=8-2 2
paragraphs=35-3-a 2
paragraphs=29-3 2
paragraphs=4 2
paragraphs=29 2
paragraphs=P1-1-1 2
paragraphs=5-1-e 2
paragraphs=6-2 2
paragraphs=5-1-c 2
paragraphs=14 2
paragraphs=35-3 2
paragraphs=6-3-d 2
paragraphs=5-1-b 2
paragraphs=5-5 2
paragraphs=P12-1 2
paragraphs=11-1 2
paragraphs=11-2 2
paragraphs=9 2
paragraphs=9-1 2
paragraphs=1 2
paragraphs=11 2
paragraphs=6-3 2
paragraphs=5-3 2
paragraphs=5-4 2
paragraphs=46 2
paragraphs=46-2 2
paragraphs=5-1-a 2
paragraphs=P4-2 2
paragraphs=P4-2-2 2
paragraphs=17 2
paragraphs=18 2
paragraphs=7 2
paragraphs=7-1 2
paragraphs= 2
paragraphs=4-3-d 2
paragraphs=4-2 2
paragraphs=6-3-e 2
paragraphs=9-2 2
paragraphs=P1-1-2 2
paragraphs=P4-2-1 2
paragraphs=37-1-c 2
paragraphs=37 2
paragraphs=P7-4 2
paragraphs=4-1 2
paragraphs=57 2
paragraphs=6-3-b 2
paragraphs=35-3-b 2
paragraphs=5-1-f 2
paragraphs=35-4 2
paragraphs=P4-2-3 2
paragraphs=2-2 2
paragraphs=26 2
paragraphs=27-2 2
paragraphs=27 2
paragraphs=36 2
paragraphs=36-1 2
paragraphs=37-1 2
paragraphs=P7-2 2
paragraphs=35-2 2
paragraphs=5-1-d 2
paragraphs=6-3-a 2
paragraphs=30 2
paragraphs=46-1 2
paragraphs=12 2
paragraphs=P7-1 2
paragraphs=P7-1-1 2
paragraphs=36-2 2
paragraphs=5-2 2
paragraphs=P1-2 2
paragraphs=P1-4 2
paragraphs=56-3 2
paragraphs=56 2
paragraphs=56-1 2
paragraphs=P7-1-2 2
paragraphs=38-1-a 2
paragraphs=37-1-b 2
paragraphs=39 2
paragraphs=15-1 2
paragraphs=15 2
paragraphs=P4-4 2
paragraphs=15-3 2
paragraphs=25-1 2
paragraphs=25 2
paragraphs=37-1-a 2
paragraphs=P6-1 2
paragraphs=P7-5 2
paragraphs=19 2
paragraphs=32 2
paragraphs=P7-3 2
paragraphs=33 2
paragraphs=28-1-a 2
paragraphs=53 2
paragraphs=28 2
paragraphs=35-2-b 2
paragraphs=43 2
paragraphs=4-3-b 2
paragraphs=4-3-a 2
paragraphs=4-3 2
paragraphs=52 2
paragraphs=P13-1 2
paragraphs=P7-4-1 2
paragraphs=16 2
paragraphs=P4-3 2
paragraphs=29-1 2
paragraphs=28-1 2
paragraphs=P6-2 2
ccl_article=1 3
ccl_article=10 3
ccl_article=11 3
ccl_article=12 3
ccl_article=13 3
ccl_article=14 3
ccl_article=17 2
ccl_article=18 2
ccl_article=2 3
ccl_article=25 3
ccl_article=3 3
ccl_article=34 3
ccl_article=38 3
ccl_article=4 3
ccl_article=46 2
ccl_article=5 3
ccl_article=6 3
ccl_article=7 3
ccl_article=8 3
ccl_article=9 3
ccl_article=p1 3
ccl_article=p12 2
ccl_article=p4 3
ccl_article=p6 2
ccl_article=p7 3
importance 4

In [281]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
le=LabelEncoder()
train['doctypebranch']=le.fit_transform(train['doctypebranch'])
train['separateopinion']=le.fit_transform(train['separateopinion'])
train['country.name']=le.fit_transform(train['country.name'])

In [282]:
train.head()

      appno  country.name  ...  ccl_article=p7  importance
0   2052/08            35  ...               0           4
1   4728/07            43  ...               0           4
2  44135/06            39  ...               0           4
3   2607/08            42  ...               0           4
4  27001/06            35  ...               0           4

[5 rows x 260 columns]

In [283]:
# ohe=OneHotEncoder(handle_unknown='ignore')
# ohe_pc_df=pd.DataFrame(ohe.fit_transform(X[['Product_Category']]).toarray())
# X = X.join(ohe_pc_df,rsuffix='Product_category_is:')

In [285]:
for col in train.columns:
  if(train[col].dtypes!=int):
    print(col, train[col].dtypes, train[col].isnull().sum(), train[col].nunique())

appno object 0 8799
rank float64 0 5026

In [290]:
X = train.iloc[:, 1:-1].values
y = train.iloc[:, -1].values

In [293]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

[[19.  1. 26. ...  0.  0.  0.]
 [35.  1. 27. ...  0.  0.  0.]
 [30.  0.  4. ...  0.  0.  0.]
 ...
 [ 8.  0.  4. ...  0.  0.  0.]
 [39.  1. 29. ...  0.  0.  0.]
 [32.  0.  7. ...  0.  0.  0.]]
[[21.  0.  4. ...  0.  0.  0.]
 [17.  2.  8. ...  0.  0.  0.]
 [43.  1. 26. ...  0.  0.  0.]
 ...
 [44.  1. 29. ...  0.  0.  0.]
 [44.  1. 29. ...  0.  0.  0.]
 [45.  0.  9. ...  0.  0.  0.]]
[4 4 4 ... 4 4 4]
[4 3 4 ... 4 4 3]

In [294]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, :] = sc.fit_transform(X_train[:,:])
X_test[:, :] = sc.transform(X_test[:,:])
print(X_train)
print(X_test)

[[-0.8061415   1.4671905   1.44830069 ... -0.02722697 -0.01186698
  -0.00634285]
 [ 0.42160603  1.4671905   1.55348893 ... -0.02722697 -0.01186698
  -0.00634285]
 [ 0.03793493 -0.51946096 -0.86584047 ... -0.02722697 -0.01186698
  -0.00634285]
 ...
 [-1.65021792 -0.51946096 -0.86584047 ... -0.02722697 -0.01186698
  -0.00634285]
 [ 0.72854291  1.4671905   1.7638654  ... -0.02722697 -0.01186698
  -0.00634285]
 [ 0.19140337 -0.51946096 -0.55027576 ... -0.02722697 -0.01186698
  -0.00634285]]
[[-0.65267306 -0.51946096 -0.86584047 ... -0.02722697 -0.01186698
  -0.00634285]
 [-0.95960994  3.45384196 -0.44508753 ... -0.02722697 -0.01186698
  -0.00634285]
 [ 1.03547979  1.4671905   1.44830069 ... -0.02722697 -0.01186698
  -0.00634285]
 ...
 [ 1.11221401  1.4671905   1.7638654  ... -0.02722697 -0.01186698
  -0.00634285]
 [ 1.11221401  1.4671905   1.7638654  ... -0.02722697 -0.01186698
  -0.00634285]
 [ 1.18894823 -0.51946096 -0.3398993  ... -0.02722697 -0.01186698
  -0.00634285]]

In [ ]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))